.post-ul {
  padding: 0 7.69%;
  display: block;
}
.post-ul li article {
  text-align: right;
  border-bottom: solid 1px rgba(131, 154, 168, 0.3);
}
.post-ul li article .user-name {
  display: flex;
}
.post-ul li article .user-name p img {
  width: 40px;
  height: 40px;
}
.post-ul li article .user-name h3 {
  color: var(--color3);
  font-size: 1.25em;
}
.post-ul li article .content {
  text-align: left;
  color: var(--color4);
}
.post-ul li article .post-image img {
  width: 100%;
}
.post-ul li article .text-muted {
  color: var(--color3) !important;
  font-size: 0.75em;
}
.post-ul li article .buttons form input {
  width: 22px;
  height: 20px;
}
.post-ul li article .buttons form .favorite {
  background: url("../image/favorite.png") no-repeat;
  background-position: center center;
  background-size: cover;
}
.post-ul li article .buttons form .unfavorite {
  background: url("../image/unfavorite.png") no-repeat;
  background-position: center center;
  background-size: cover;
}
.post-ul li article .buttons .form-delete {
  display: flex;
  color: var(--color3);
  font-size: 0.75em;
}
.post-ul li article .buttons .form-delete .delete {
  width: 12px;
  height: 12px;
  background: url("../image/delete.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .post-ul {
    padding: 0;
    display: block !important;
  }
  .post-ul li article {
    text-align: right;
    border-bottom: solid 1px rgba(131, 154, 168, 0.3);
  }
  .post-ul li article .user-name {
    display: flex;
  }
  .post-ul li article .user-name p img {
    width: 40px;
    height: 40px;
  }
  .post-ul li article .user-name h3 {
    color: var(--color3);
    font-size: 1.25em;
  }
  .post-ul li article .content {
    text-align: left;
    color: var(--color4);
  }
  .post-ul li article .post-image img {
    width: 100%;
  }
  .post-ul li article .text-muted {
    color: var(--color3) !important;
    font-size: 0.75em;
  }
  .post-ul li article .buttons form input {
    width: 22px;
    height: 20px;
  }
  .post-ul li article .buttons form .favorite {
    background: url("../image/favorite.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .post-ul li article .buttons form .unfavorite {
    background: url("../image/unfavorite.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .post-ul li article .buttons .form-delete {
    display: flex;
    color: var(--color3);
    font-size: 0.75em;
  }
  .post-ul li article .buttons .form-delete .delete {
    width: 12px;
    height: 12px;
    background: url("../image/delete.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media screen and (max-width: 1600px) {
  .post-ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .post-ul li article {
    text-align: right;
    border-bottom: solid 1px rgba(131, 154, 168, 0.3);
  }
  .post-ul li article .user-name {
    display: flex;
  }
  .post-ul li article .user-name p img {
    width: 40px;
    height: 40px;
  }
  .post-ul li article .user-name h3 {
    color: var(--color3);
    font-size: 1.25em;
  }
  .post-ul li article .content {
    text-align: left;
    color: var(--color4);
  }
  .post-ul li article .post-image img {
    width: 100%;
  }
  .post-ul li article .text-muted {
    color: var(--color3) !important;
    font-size: 0.75em;
  }
  .post-ul li article .buttons form input {
    width: 22px;
    height: 20px;
  }
  .post-ul li article .buttons form .favorite {
    background: url("../image/favorite.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .post-ul li article .buttons form .unfavorite {
    background: url("../image/unfavorite.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .post-ul li article .buttons .form-delete {
    display: flex;
    color: var(--color3);
    font-size: 0.75em;
  }
  .post-ul li article .buttons .form-delete .delete {
    width: 12px;
    height: 12px;
    background: url("../image/delete.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
